---
import { ClientRouter } from "astro:transitions";
import Navbar from "../components/navbar.astro";
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <ClientRouter transition:animate="slide" />
    <title>{title}</title>
  </head>
  <body>
    <div class="marquee">
      <div class="marquee-content">
        ATENCIÓN // ASTRO // ESTILO BRUTALISTA // ATENCIÓN // ASTRO // ESTILO
        BRUTALISTA // ATENCIÓN // ASTRO // ESTILO BRUTALISTA //
      </div>
    </div>
    <div class="container">
      <Navbar />
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
